{% extends 'habito_app/base_authenticated.html' %}

    <div>
        {% block title_block %}
        Habit
        {% endblock %}
    </div>

    {% block body_block %}
        <h2>Add a Habit</h2>

        <div>
            <form id="habit_form" method="post" action="/habito_app/add_habit/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
               <p> <input class= "button" type="submit" name="submit" value="Create Habit" />
				</p>
			</form>
        </div>

    {% endblock %}
