<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Habit-O

            {% block title_block %}
            {% endblock %}

        </title>
    </head>
    <body>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
    	<p><a href="{% url 'logout' %}" class="button">Log out</a></p>
                <p><a href="{% url 'index' %}" class="button">Back to Index</a></p>
    	<p><a href="{% url 'restricted' %}" class="button">restricted page</a></p>
          <p><a href="{% url 'user' %}" class="button">Back to User Information</a></p>
          <p><a href="{% url 'add_habit' %}" class="button">Add a New Habit</a></p>
    {% else %}
	<p><a href="{% url 'login' %}" class="button">Log in</a></p>
	<a href="{% url 'register' %}" class="button">Register</a>
     {% endif %}
            </ul>
        </div>

    </body>
</html>
