<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
		<link href="{% static 'css/basic/stylesLoggedIn.css' %}"rel="stylesheet" type="text/css" />
        <title>
            Habit-O
            {% block title_block %}
            {% endblock %}

        </title>
    </head>
    <body>
		<div class="title">
		<div class="greeting">
				<h4><p>
				{% if user.is_authenticated %}
                Hello, {{ user.username }}!
                {% endif %}
				<a href="{% url 'logout' %}" class="button">Log out</a>
				</p></h4>
				</div>
			</div> 
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
		<div class="logo"><h1>Habit-O</h1>

        <div>
            <ul>
            {% if user.is_authenticated %}
			<div class="footer">
			    <hr />
                <p>
				<a href="{% url 'user' %}" class="button">Back to User Information</a>
				<a href="{% url 'add_habit' %}" class="button">Add a New Habit</a></p>
			</div>
			{% else %}
				<p><a href="{% url 'login' %}" class="button">Log in</a></p>
				<a href="{% url 'register' %}" class="button">Register</a>
			{% endif %}
            </ul>
        </div>

    </body>
</html>
