{% extends 'habito_app/base_authenticated.html' %}
{% load staticfiles %}
{% load habit_o_extras %}

      {% block title_block %}
         Habit
      {% endblock %}

   {% block body_block %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{% static 'js/habito-jquery.js' %}"></script>

   <div>
      {% if habit %}
         <h2 id="habitTitle" data-slug="{{habit_slug}}">{{habit_title}}</h2>
         
         <!-- DESCRIPTION -->
         <div class="description">
            {% if habit_desc %}
               <h4 id="habitDesc" data-slug="{{habit_slug}}">
                  {{ habit_desc }}
               </h4>
            {% else %}
               <strong>No description currently.</strong>
            {% endif %}
         </div>
         
		          <!-- ACHIEVEMENTS -->
         <div class="achievements">
            <h3>Achievements</h3>
            <ul>
               <li>
                  5 days in a row: 
                  {% if achv.1 %}
                     1
                  {% else %}
                     0
                  {% endif %}
               </li>
               <li>
                  10 days in a row: 
                  {% if achv.2 %}
                     1
                  {% else %}
                     0
                  {% endif %}
               </li>
               <li>
                  15 days in a row: 
                  {% if achv.3 %}
                     1
                  {% else %}
                     0
                  {% endif %}
               </li>
               {% if achv.4 %}
                  <li>Habit completed!</li>
               {% endif %}
            </ul>
         </div>
		 
         <!-- DAYS TABLE -->
         <div class= "tb_element">
            <table class="habit_table" id="xTable" data-slug="{{habit_slug}}">
               <tbody>
                  <!-- Calls a custom template tag and stores result to a variable -->
                  {% days_table as days_list %}
                  <!-- Iterates the variable and builds the table -->
                  {% for key, value in days_list %}
                     <tr id="w_{{key}}">
                        {% for k,v in value %}
                           {% if v == 1 %}
                              <td id="day_{{k}}" class="day">X</td>
                           {% elif v == 0 %}
                              <td id="day_{{k}}" class="day">O</td>
                           {% else %}
                              <td id="day_{{k}}" class="day"></td>
                           {% endif %}
                        {% endfor %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         
      {% else %}
         The specified habit does not exist!
      {% endif %}

   </div>
   {% endblock %}

