<! DOCTYPE html>

<html>
  
 <head>
  <link rel="stylesheet" href="styles.css">
  <title> Log in </title>
  </head>
  
  <body>
    <div id="container">
      <div id="content">
    <h1>Habit- O</h1>
    <form>
       Username:<br>
       <input type="text" name="username" value="">
      <br>
       Password:<br>
       <input type="password" name="password" value="">
       <br><br>
       <input type="submit" value="Log in" class="button">
       <a href="register.html" class="button">No account? Register</a>
</form>
    
     <!--<a href="user" class="button">Log in</a>redirects to user homepage-->
      </div>
    </div>
  </body>
</html>