
<! DOCTYPE html>

<html>
  
 <head>
  <link rel="stylesheet" href="styles.css">
  <title> login </title>
  </head>
  
  <body>
    <div id="container">
      <div id="content">
    <h1>Habit- O</h1>
    <form id="user_login" method="post" action="/habito_app/login/"
              enctype="multipart/form-data">
       Username:<br>
       <input type="text" name="username" value="username">
      <br>
       Password:<br>
       <input type="password" name="password" value="password">
       <br>
	<br>
       <input type="submit" value="Submit" class="button">
	{% csrf_token %}
   
    </form>
      </div>
    </div>
  </body>
</html>