{% extends "habito_app/base.html" %}
{% load staticfiles %}

   {% block title_block %}
   Register
   {% endblock %}
  
{% block body_block %}
    <div id="container">
      <div id="content">
    <h1>Habit- O</h1>
    <form id="user_form" method="post" actions"{% url 'index' %}" enctype="multipart/form-data">
       Username:<br>
       <input type="text" name="username" value="">
      <br>
       Password:<br>
       <input type="password" name="password" value="">
       <br>
	<br>
       <input type="submit" value="Submit" class="button">
	{% csrf_token %}
       
         {{ user_form.as_p }}
    </form>
      </div>
    </div>
  {% endblock %}