<!DOCTYPE html>


<html>
    <head>
        <title>
            A Try
        </title>
    </head>
    <body>

        <div>
           User page
        </div>


        <div>
        {% if habits %}
        <ul>
                {% for habit in habits %}
                    <li><a href="/habito_app/test_habit/{{ habit.slug }}">{{ habit.title }}</a></li>
                {% endfor %}
        </ul>
        {% else %}
            <strong>There are no habits present.</strong>
        {% endif %}
        </div>

        </body>
</html>
