{% extends 'habito_app/base_authenticated.html' %}
{% load staticfiles %}


        <title>
            Habit
        </title>
<body>
<div>
    {% if habit %}
        <h2>{{ habit.title }}</h2>

<li>

        {% if habit.description %}
            <h3>
                {{ habit.description }}
            </h3>
        {% else %}
            <strong>No description currently.</strong>
        {% endif %}

</li>

    {% else %}
        The specified habit does not exist!
    {% endif %}

            </div>
    </body>
