{% extends 'habito_app/base_authenticated.html' %}


        <div>
            {% block title_block %}
            User Page
            {% endblock %}
        </div>

        {% block body_block %}

             <div>
                 {% if user.is_authenticated %}
                 Hello, {{ user.username }}!
                {% endif %}
             </div>

        <div>
                {% if habits %}
                 <ul>
                {% for habit in habits %}
                <li><a href="/habito_app/habit/{{ habit.slug }}">{{ habit.title }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>There are no habits present.</strong>
                {% endif %}
        </div>

        {% endblock %}

