{% extends 'habito_app/base_authenticated.html' %}
{% load staticfiles %}

        <div>
            {% block title_block %}
            User Page
            {% endblock %}
        </div>

        {% block body_block %}

        <div class="habit_list">
                {% if habits %}
                 <ul>
				 <h3>Habits you are working on</h3>
                {% for habit in habits %}
                <li><a href="/habito_app/habit/{{ habit.slug }}">{{ habit.title }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>There are no habits present.</strong>
                {% endif %}
        </div>

        {% endblock %}

