<!DOCTYPE html>


<html>
    <head>
        <title>
            User Page
        </title>
    </head>
    <body>

        {% if user.is_authenticated %}
         <div>Hello, {{ user.username }}!<div>

        <div>
    	<p><a href="{% url 'logout' %}" class="button">Log out</a></p>
    	<p><a href="{% url 'restricted' %}" class="button">restricted page</a></p>
            <p><a href="{% url 'test_add_habit' %}" class="button">Add a New Habit</a></p>
        </div>

        <div>
                {% if habits %}
                 <ul>
                {% for habit in habits %}
                <li><a href="/habito_app/test_habit/{{ habit.slug }}">{{ habit.title }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>There are no habits present.</strong>
                {% endif %}
        </div>

        <p><a href="{% url 'index' %}" class="button">Back to Index</a></p>
        {% else %}
	    <p><a href="{% url 'login' %}" class="button">Log in</a></p>
	    <a href="{% url 'register' %}" class="button">Register</a>
        <p><a href="{% url 'index' %}" class="button">Back to Index</a></p>
        {% endif %}

    </body>
</html>
