body {
    background-color: rgb(77,219,255);
}
h1 {
    color: white;
    font-size: 85px;
    font-family: 'Arial';
    margin-bottom:-10px;
}
h2 {
    color: white;
    font-size: 50px;
    font-family: 'Helvetica';
    margin-bottom:0px;
}

h3 {
    color: white;
    font-size: 30px;
    font-family: 'Helvetica';
    margin-bottom:0px;
}
h4 {
	link-color: white;
	font-size:20px;
	font-family: 'Helvetica';
}

.title {
	position:relative;
}
.greeting {
	position: absolute;
	bottom:1;
	right:0;
	color: white;
}
.logo {
	position: fixed;
	right: 0px;
	bottom: 0px;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 2px;
    cursor: pointer;
}

.habit_table {
	background-color: white;
}
div.tb_element {
	position: relative;
	left: 50%;
}

.footer {
	position:fixed;
   left:0px;
   bottom:100px;
   height:30px;
   width:100%;
}

.habit_list {
	color: rgb(204,204,255);

}
.description {
	width: 500px;
}

a:link, a:visited {
    color: rgb (90,90,90);
	text-decoration: none;
}



