.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 2px;
    cursor: pointer;
}

body {
    background-color: rgb(77,219,255);
}
h1 {
    color: white;
    font-size: 65px;
    font-family: 'Arial';
    margin-bottom:-10px;
}
p {
    color: black;
}
#container{
   position: absolute;
   top: 50%;
   margin-top: -175px;/* half of #content height*/
   left: 0;
   width: 100%;
}
#content {
  /* width: 270px;*/
   width: 20%;
   margin:auto;
  /*height: 250px; */
}

form {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  }

  
#user_form .helptext{
   display:none;
}
#user_form label{
   display:block;
}